@font-face {
    font-family: 'DroidSerif-Regular';
    src: url('fonts/droid-serif/DroidSerif-Regular.ttf');
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('fonts/oswald/Oswald-Regular.ttf');
}
#footer {
    margin: 0px auto 0px;
    padding: 0px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#footer .content {
    position: relative;
    margin-top: 24px;
    margin: 0px 180px 0px;
}
.radius-top {
    border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -khtml-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
}
#footer .padded {
    padding-bottom: 0px;
}
#footer .outline {
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
}
.row {
    width: 100%;
    margin: 0 auto;
}
.graphs {
    padding: 0px 12px;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.12);
    overflow: hidden;
}